* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.mb-2 {
  margin-bottom: 1rem;
  margin-left: 1rem;
}


.mr-2 {
  margin-right: 4px;
}

.mr-3 {
    display: flex;
}

.mr-3-txt {
    width: 60px;
}

.mt-30 {
  margin-top: 3rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

p {
  font-size: 1.1rem;
}

h2,
p {
  font-weight: 700;
}

.container {
  padding: 20px;
}

.flex {
  display: flex;
}

.language-list ul {
  overflow: hidden;
}

.language-list ul li {
  float: left;
}
.language-list ul li a {
  display: block;
  width: 80px;
  height: 80px;
}
.language-list ul li a img {
  width: 100%;
  height: 100%;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-height: 200px;
  overflow-y: scroll;
}

.skills .skill-item {
  position: relative;
  border: 1px solid #dedede;
  text-align: center;
  cursor: pointer;
}
.skills .skill-item label {
  position: absolute;
  top: -3px;
  right: -1px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.skills .skill-item label:after {
  display: none;
}

.skills img {
  width: 80px;
  height: 80px;
}

.language-list ul {
  width: 880px;
  overflow: hidden;
  display: flex;
  gap: 2rem;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-800px);
  }
}

.language-list ul li {
  animation: slide 30s infinite;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column-reverse;
  }
}
