@import url(common.css);

#recommend {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
#recommend h2 {
  margin-bottom: 3rem;
}
#recommend .flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#recommend .recommend-item {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
}

#recommend .recommend-item .header {
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}

#recommend .recommend-item .header .name {
  color:#2db7f5;
}

#recommend .recommend-item .meta {
  margin: 2rem 0;
}
#recommend .recommend-item .meta button {
  border: none;
}
#recommend .recommend-item .meta span {
  display: inline-block;
  cursor: pointer;
}

#recommend .recommend-item .meta span.likeCnt {
  margin-right: 20px;
}
